@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  background-color: black;
  
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: black;
}

audio{
    text-align: center;
   width: 100px;
    position: fixed;
    height: 18px;
    padding-left: 12px;;
    margin-left: auto;
    right: 1vw;
    top: 2vh;
    cursor: pointer;
    z-index: 10000;
    opacity: 0.2;
}


